<!DOCTYPE html>
<html>
<head>
    <% include ../inc/inc.head.html %>
    <style type="text/css">
        .wrap{width:100%}
        .main{width:1000px;margin:0 auto;}
        .main h3{text-align: center}
        .side{}
        .btn-wrap{text-align: right}
    </style>
</head>
<body>
<div class="wrap">
    <div class="main">
        <h3>爱美购管理平台</h3>
        <i class="fa fa-user fa-16"></i><%= req.session.user.name %>
        <a href="/logout" ><i class="fa fa-sign-out fa-16"></i>退出</a>
        <div class="btn-wrap"><button type="button" class="btn btn-primary">添加</button></div>
        <div class="side col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">衣服</a></li>
                <li><a href="#">鞋子</a></li>
                <li><a href="#">包包</a></li>
                <li><a href="#">配饰</a></li>
                <li><a href="#">美妆</a></li>
                <li><a href="#">家居</a></li>
                <li><a href="#">9.9包邮</a></li>
            </ul>
        </div>
        <div class="cont col-md-10">
            <table class="table table-striped">
                <thead>
                    <th>名称</th>
                    <th>链接</th>
                    <th>图片</th>
                    <th>原价</th>
                    <th>现价</th>
                    <th>小编点评</th>
                    <th>操作</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<% include ../inc/inc.foot.html %>

</body>
</html>