<!DOCTYPE html>
<html>
<head>
    <% include ../inc/inc.head.html %>
</head>
<body>

<div class="g-bd">
    <% include ../mod/mod.head.html %>

    <% include ../mod/mod.side.html %>

    <div class="g-mn">
        <div class="g-btn">
            <a href="/item" class="btn btn-default"><i class="fa fa-arrow-left"></i>返回</a>
        </div>
        <div class="alert alert-warning" id="msg" style="display: none;">

        </div>
        <form class="form-horizontal j-uploadForm" role="form" action="/api/item" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">类目</label>
                <div class="col-sm-10">
                    <label><input type="radio" name="type" value="1" checked>女装</label>
                    <label><input type="radio" name="type" value="2" >鞋子</label>
                    <label><input type="radio" name="type" value="3" >包包</label>
                    <label><input type="radio" name="type" value="4" >配饰</label>
                    <label><input type="radio" name="type" value="5" >美妆</label>
                    <label><input type="radio" name="type" value="6" >家具</label>
                    <label><input type="radio" name="type" value="7" >9.9包邮</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝名称</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">链接</label>
                <div class="col-sm-10">
                    <input type="text" name="href" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝图片</label>
                <div class="col-sm-10">
                    <input type="file" name="img" class="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">现价</label>
                <div class="col-sm-4">
                    <input type="text" name="price2" class="form-control">
                </div>
                <label class="col-sm-2 control-label">原价</label>
                <div class="col-sm-4">
                    <input type="text" name="price" class="form-control">
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">小编推荐</label>
                <div class="col-sm-10">
                    <input type="text" name="talk" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">发布时间</label>
                <div class="col-sm-10">
                    <input type="text" name="date" class="form-control j-date" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">分享/收藏</label>
                <div class="col-sm-1">
                    <button type="button" id="randomShare" class="btn btn-default">随机</button>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="share_total" class="form-control" value="<%= Math.floor(Math.random() * 600) + 200 %>" />
                </div>
                <div class="col-sm-2">
                    <input type="text" name="collect_total" class="form-control" value="<%= Math.floor(Math.random() * 300) + 200 %>" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">网友评论</label>
                <div class="col-sm-1">
                    <button type="button" id="random" class="btn btn-default">随机</button>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="comments" class="form-control">

                    <input type="text" name="comments" class="form-control">

                    <input type="text" name="comments" class="form-control">

                    <input type="text" name="comments" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../inc/inc.foot.html %>
<% include ../mod/mod.script.html %>
</body>
</html>