<!DOCTYPE html>
<html>
<head>
    <% include ../inc/inc.head.html %>
</head>
<body>

<div class="g-bd">
    <% include ../mod/mod.head.html %>

    <% include ../mod/mod.side.html %>

    <div class="g-mn">
        <div class="g-btn">
            <a href="/item" class="btn btn-default"><i class="fa fa-l fa-arrow-left"></i>返回</a>
        </div>
        <div class="alert alert-warning" id="msg" style="display:none;">

        </div>
        <form class="form-horizontal j-uploadForm" role="form" action="/api/item" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">类目</label>
                <div class="col-sm-10">
                    <label><input type="radio" name="type" value="1" checked>女装</label>
                    <label><input type="radio" name="type" value="2" >鞋子</label>
                    <label><input type="radio" name="type" value="3" >包包</label>
                    <label><input type="radio" name="type" value="4" >配饰</label>
                    <label><input type="radio" name="type" value="5" >美妆</label>
                    <!--<label><input type="radio" name="type" value="6" >家具</label>
                    <label><input type="radio" name="type" value="8" >零食</label>-->
                    <label><input type="radio" name="type" value="7" >9.9包邮</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">发布时间</label>
                <div class="col-sm-10" id="date">
                    <label><input type="radio" name="date" value="<%= date.d0%>">今天</label>
                    <label><input type="radio" name="date" value="<%= date.d1%>" checked>明天</label>
                    <label><input type="radio" name="date" value="<%= date.d2%>" >后天</label>
                    <label><input type="radio" name="date" value="<%= date.d3%>" >大后天</label>
                    <label><input type="radio" name="date" value="<%= date.d4%>" ><%= date.d4%></label>
                    <label><input type="radio" name="date" value="<%= date.d5%>" ><%= date.d5%></label>
                    <label><input type="radio" name="date" value="<%= date.d6%>" ><%= date.d6%></label>
                    <!--<label><input type="radio" name="date" value="" id="define" >自定义</label>-->
                    <!--<label class="hide"><input type="text" name="date" style="display: inline" class="form-control j-date" readonly value=""></label>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝名称</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">链接</label>
                <div class="col-sm-10">
                    <input type="text" name="href" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝图片</label>
                <div class="col-sm-10">
                    <input type="file" name="img" class="" style="margin-bottom:10px;">
                    <input type="text" name="url" class="form-control" placeholder="宝贝图片链接">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">现价</label>
                <div class="col-sm-4">
                    <input type="text" name="price2" class="form-control">
                </div>
			</div>

            <div class="form-group">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
<% include ../inc/inc.foot.html %>
<script>
	var page = {

		init: function(){
			var w = this;

			w.getTB = $('#getTB');

			w.initHTML();
			w.initEvent();
		},

		initHTML: function(){
			var w = this;
			var src = $('.j-uploadForm').attr('srcPage') || 'item';

			$('.j-uploadForm').data('opt', {
				fn: function(){
					window.location.href = '/'+ src;
				}
			});



		},

		initEvent: function(){
			var w = this;


			w.getTB.click(function(){
				w.getTBfn();
			})
		}
	}

	$(function(){
		page.init();
	});

</script>
</html>