<!DOCTYPE html>
<html>
<head>
	<% include ../inc/inc.head.html %>
</head>
<body>

<div class="g-bd">
    <% include ../mod/mod.head.html %>

    <% include ../mod/mod.side.html %>

    <div class="g-mn">
        <a href="/item?type=<%= req.query.type%>" class="btn btn-default">返回</a>
        <form class="form-horizontal" role="form" action="/api/item" target="ajax" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝名称</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" value="<%= item.name %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">链接</label>
                <div class="col-sm-10">
                    <input type="text" name="href" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝图片</label>
                <div class="col-sm-10">
                    <input type="file" name="img" class="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">原价</label>
                <div class="col-sm-4">
                    <input type="text" name="price" class="form-control">
                </div>
                <label class="col-sm-2 control-label">现价</label>
                <div class="col-sm-4">
                    <input type="text" name="price2" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">小编推荐</label>
                <div class="col-sm-10">
                    <input type="text" name="talk" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
            <input type="hidden" name="type" value="<%= req.query.type%>">
        </form>
    </div>
</div>



<iframe name="ajax" class="hide" style="width:100%;height:100px;">

</iframe>

<% include ../inc/inc.foot.html %>
<script>
    $(function(){

    })
</script>
</body>
</html>