<!DOCTYPE html>
<html>
<head>
    <% include ../inc/inc.head.html %>
</head>
<body>

<div class="g-bd">
    <% include ../mod/mod.head.html %>

    <% include ../mod/mod.side.html %>

    <div class="g-mn">
        <a href="/item" class="btn btn-default">返回</a>
        <form class="form-horizontal j-uploadForm" role="form" action="/api/item" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">类目</label>
                <div class="col-sm-10">
                    <label><input type="radio" name="type" value="1" <%= item.type == '1' ? 'checked' : ''%> >女装</label>
                    <label><input type="radio" name="type" value="2" <%= item.type == '2' ? 'checked' : ''%>>鞋子</label>
                    <label><input type="radio" name="type" value="3" <%= item.type == '3' ? 'checked' : ''%>>包包</label>
                    <label><input type="radio" name="type" value="4" <%= item.type == '4' ? 'checked' : ''%>>配饰</label>
                    <label><input type="radio" name="type" value="5" <%= item.type == '5' ? 'checked' : ''%>>美妆</label>
                    <label><input type="radio" name="type" value="6" <%= item.type == '6' ? 'checked' : ''%>>家具</label>
                    <label><input type="radio" name="type" value="8" <%= item.type == '8' ? 'checked' : ''%>>零食</label>
                    <label><input type="radio" name="type" value="7" <%= item.type == '7' ? 'checked' : ''%>>9.9包邮</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">发布时间</label>
                <div class="col-sm-10" id="date">
                    <% if(util.dateFormat(item.date) < date.d0){ %>
                    <label><input type="radio" name="date" value="<%= util.dateFormat(item.date)%>" checked><%= util.dateFormat(item.date)%></label>

                    <% } %>
                    <label><input type="radio" name="date" value="<%= date.d0%>" <%=util.dateFormat(item.date) == date.d0 ? 'checked':'' %> >今天</label>
                    <label><input type="radio" name="date" value="<%= date.d1%>" <%=util.dateFormat(item.date) == date.d1 ? 'checked':'' %> >明天</label>
                    <label><input type="radio" name="date" value="<%= date.d2%>" <%=util.dateFormat(item.date) == date.d2 ? 'checked':'' %> >后天</label>
                    <label><input type="radio" name="date" value="<%= date.d3%>" <%=util.dateFormat(item.date) == date.d3 ? 'checked':'' %> >大后天</label>
                    <label><input type="radio" name="date" value="<%= date.d4%>" <%=util.dateFormat(item.date) == date.d4 ? 'checked':'' %> ><%= util.dateFormat(date.d4)%></label>
                    <label><input type="radio" name="date" value="<%= date.d5%>" <%=util.dateFormat(item.date) == date.d5 ? 'checked':'' %> ><%= util.dateFormat(date.d5)%></label>
                    <label><input type="radio" name="date" value="<%= date.d6%>" <%=util.dateFormat(item.date) == date.d6 ? 'checked':'' %> ><%= util.dateFormat(date.d6)%></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝名称</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" value="<%= item.name %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">链接</label>
                <div class="col-sm-10">
                    <input type="text" name="href" class="form-control" value="<%= item.href %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">宝贝图片</label>
                <div class="col-sm-10">
                    <img src="/item/<%= item._id %>/img" style="width:100px;height:100px;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">现价</label>
                <div class="col-sm-4">
                    <input type="text" name="price2" class="form-control" value="<%= item.price2 %>">
                </div>
                <label class="col-sm-2 control-label">原价</label>
                <div class="col-sm-4">
                    <input type="text" name="price" class="form-control" value="<%= item.price %>" >
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">小编推荐</label>
                <div class="col-sm-10">
                    <input type="text" name="talk" class="form-control" value="<%= item.talk %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">销量</label>
                <div class="col-sm-10">
                    <input type="text" name="sale_total" class="form-control" value="<%= item.sale_total %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">分享/收藏</label>
                <div class="col-sm-1">
                    <button type="button" id="randomShare" class="btn btn-default">随机</button>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="share_total" class="form-control" value="<%= Math.floor(Math.random() * 600) + 200 %>" />
                </div>
                <div class="col-sm-2">
                    <input type="text" name="collect_total" class="form-control" value="<%= Math.floor(Math.random() * 300) + 200 %>" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">网友评论</label>
                <div class="col-sm-1">
                    <button type="button" id="random" class="btn btn-default">随机</button>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="comments" class="form-control" value="<%= item.comments.length == 0 ? '' : item.comments[0].text %>">

                    <input type="text" name="comments" class="form-control" value="<%= item.comments == 0 ? '' : item.comments[1].text %>">

                    <input type="text" name="comments" class="form-control" value="<%= item.comments == 0 ? '' : item.comments[2].text %>">

                    <input type="text" name="comments" class="form-control" value="<%= item.comments == 0 ? '' : item.comments[3].text %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="hidden" name="id" value="<%= item._id %>"/>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../inc/inc.foot.html %>
<% include ../mod/mod.script.html %>
</body>
</html>