<!DOCTYPE html>
<html>
<head>
	<% include ../inc/inc.head.html %>

    <style type="text/css">
        .batch-del{text-align: right;}
        .file{position: absolute;opacity: 0;width:100px;height:40px;cursor: pointer}
    </style>
</head>
<body>
<div class="g-bd">
    <% include ../mod/mod.head.html %>

    <% include ../mod/mod.side.html %>

    <div class="g-mn">
        <div class="g-top">
            <div class="row">
                <div class="g-btn col-md-1">
                    <a href="/item/add" class="btn btn-primary"><i class="fa fa-l fa-plus"></i>添加</a>
                </div>
                <div class="g-search col-md-11">
                    <form class="form-inline col-md-5" role="form" method="get" action="/item">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary <%= req.query.date == '' ? 'active':''%> j-btn" val="">全部</button>
                            <button type="button" class="btn btn-primary <%= req.query.date == date.d0 ? 'active':''%> j-btn" val="<%= date.d0%>">今天</button>
                            <button type="button" class="btn btn-primary <%= req.query.date == date.d1 ? 'active':''%> j-btn" val="<%= date.d1%>">明天</button>
                            <button type="button" class="btn btn-primary <%= req.query.date == date.d2 ? 'active':''%> j-btn" val="<%= date.d2%>">后天</button>
                            <button type="button" class="btn btn-primary <%= req.query.date == date.d3 ? 'active':''%> j-btn" val="<%= date.d3%>">3天后</button>
                        </div>

                        <input type="hidden" name="type" value="<%= req.query.type == undefined ? '' : req.query.type %>">
                        <input type="hidden" name="date" id="dateTime" value="">
                    </form>
                    <form class="form-inline" role="form" method="get" action="/item">
                        <div >
                            <div class="form-group" >
                                <label class="sr-only" for="date">发布时间</label>
                                <input type="text" name="date" class="form-control j-date" id="date" placeholder="YYYY-MM-DD" value="<%= req.query.date == undefined ? '' : req.query.date %>">
                            </div>
                            <button type="submit" class="btn btn-primary">搜索</button>
                        </div>
                        <input type="hidden" name="type" value="<%= req.query.type == undefined ? '' : req.query.type %>">
                    </form>
                </div>
                <!--<div class="batch-del col-md-2">
                    <button type="button" class="btn btn-danger j-clear">删除7天前的数据</button>
                </div>-->
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="<%= req.query.type == undefined ? 'active' : '' %>"><a href="/item?date=<%= req.query.date == undefined ? '' : req.query.date %>">全部（<%= total.t0%>）</a></li>
            <li class="<%= req.query.type == '1' ? 'active' : '' %>"><a href="/item?type=1&date=<%= req.query.date == undefined ? '' : req.query.date %>" >女装（<%= total.t1%>）</a></li>
            <li class="<%= req.query.type == '2' ? 'active' : '' %>"><a href="/item?type=2&date=<%= req.query.date == undefined ? '' : req.query.date %>">鞋子（<%= total.t2%>）</a></li>
            <li class="<%= req.query.type == '3' ? 'active' : '' %>"><a href="/item?type=3&date=<%= req.query.date == undefined ? '' : req.query.date %>">包包（<%= total.t3%>）</a></li>
            <li class="<%= req.query.type == '4' ? 'active' : '' %>"><a href="/item?type=4&date=<%= req.query.date == undefined ? '' : req.query.date %>">配饰（<%= total.t4%>）</a></li>
            <li class="<%= req.query.type == '5' ? 'active' : '' %>"><a href="/item?type=5&date=<%= req.query.date == undefined ? '' : req.query.date %>">美妆（<%= total.t5%>）</a></li>

            <li class="<%= req.query.type == '7' ? 'active' : '' %>"><a href="/item?type=7&date=<%= req.query.date == undefined ? '' : req.query.date %>">9.9包邮（<%= total.t7%>）</a></li>
        </ul>
        <table class="table table-striped">
            <thead>
                <th style="width: 110px;">图片</th>
                <th>名称</th>
                <th style="width: 100px;">现价</th>
                <th style="width: 100px;">发布时间</th>
                <th style="width: 150px;">操作</th>
            </thead>
            <tbody>
            <% itemList.forEach(function(item, i){ %>
            <tr class="j-tr">
                <td>
                    <div class="img-wp">
                        <a href="<%= item.href %>" target="_blank">
                            <% if(item.url) {%>
                            	<img src="<%= item.url %>" class="img" />
                            <% }else{ %>
                            	<img src="/item/<%= item._id %>/img" class="img" />
                            <% } %>
                        </a>
                    </div>
                </td>

                <td>
                    <a href="<%= item.href %>" target="_blank">
                        <%= item.name %>
                    </a>
                </td>
                <td>
                    <i class="ch-lg"><%= item.price2 %></i>
                </td>

                <td><%= util.dateFormat(item.date) %></td>
                <td>
                    <a href="/item/<%= item._id %>" class="btn btn-primary btn-sm" ><i class="fa fa-pencil"></i></a>
                    <a href="/api/item/<%= item._id %>" class="btn btn-danger btn-sm j-delete" ><i class="fa fa-trash-o"></i></a>
                    <a href="javascript://" url="/api/item/setTop/<%= item._id %>" class="btn btn-primary btn-sm j-top" title="置顶" ><i class="fa fa-arrow-up"></i></a>

                </td>
            </tr>
            <% }) %>

            </tbody>
        </table>
            <ul class="pager">
                <li><em><%= page.current %></em>/<em><%= page.total %></em></li>
                <% if(page.current==1){ %>
                    <li class="disabled"><span>上一页</span></li>
                <% }else{ %>
                    <li><a href="/item?type=<%= req.query.type == undefined ? '' : req.query.type %>&date=<%= req.query.date == undefined ? '' : req.query.date %>&p=<%= page.current-1 %>">上一页</a></li>
                <% } %>

                <% if(page.current==page.total){ %>
                    <li class="disabled"><span>下一页</span></li>
                <% }else{ %>
                    <li><a href="/item?type=<%= req.query.type == undefined ? '' : req.query.type %>&date=<%= req.query.date == undefined ? '' : req.query.date %>&p=<%= page.current+1 %>">下一页</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<% include ../inc/inc.foot.html %>
<script>
    $(function(){
        $(".j-date").each(function(){
            $(this).datepicker();
        })

        $('.j-btn').click(function(){
            var val = $(this).attr('val');
            $('#dateTime').attr('value', val);
            $(this).parents('form').submit();
        });

        $('.j-file').bind('change', function(){
            var form = $(this).parent('.j-uploadForm');
            form.data('opt',{
                fn: function(){
                    window.location.reload();
                }
            })
            form.submit();
        })

        var options = {
            currentPage:2,
            totalPages:5,
            numberOfPages:5
        }

    });

</script>
</body>
</html>