<!DOCTYPE html>
<html>
<head>
	<% include ../inc/inc.head.html %>

</head>
<body>
<div class="g-bd">
    <% include ../mod/mod.head.html %>

    <% include ../mod/mod.side.html %>

    <div class="g-mn">
        <div class="g-btn">
            <a href="/item/add" class="btn btn-primary"><i class="fa fa-plus"></i>添加</a>
        </div>

        <ul class="nav nav-tabs">
            <li class="<%= req.query.type == undefined ? 'active' : '' %>"><a href="/item">全部</a></li>
            <li class="<%= req.query.type == '1' ? 'active' : '' %>"><a href="/item?type=1" >女装</a></li>
            <li class="<%= req.query.type == '2' ? 'active' : '' %>"><a href="/item?type=2">鞋子</a></li>
            <li class="<%= req.query.type == '3' ? 'active' : '' %>"><a href="/item?type=3">包包</a></li>
            <li class="<%= req.query.type == '4' ? 'active' : '' %>"><a href="/item?type=4">配饰</a></li>
            <li class="<%= req.query.type == '5' ? 'active' : '' %>"><a href="/item?type=5">美妆</a></li>
            <li class="<%= req.query.type == '6' ? 'active' : '' %>"><a href="/item?type=6">家居</a></li>
            <li class="<%= req.query.type == '7' ? 'active' : '' %>"><a href="/item?type=7">9.9包邮</a></li>
        </ul>
        <table class="table table-striped">
            <thead>
                <th style="width: 110px;">图片</th>
                <th style="width: 300px;">名称</th>

                <th style="width: 100px;">现价 / 原价</th>
                <th>小编点评</th>
                <th style="width: 100px;">操作</th>
            </thead>
            <tbody>
            <% itemList.forEach(function(item, i){ %>
            <tr class="j-tr">
                <td>
                    <div class="img-wp">
                        <a href="<%= item.href %>" target="_blank">
                            <img src="/item/<%= item._id %>/img" class="img" />
                        </a>
                        <div class="img-btn">
                            <button class="btn btn-success">修改图片</button>
                        </div>
                    </div>
                </td>

                <td>
                    <a href="<%= item.href %>" target="_blank">
                        <%= item.name %>
                    </a>

                    <script type="text/javascript">
                        (function(){
                            var p = {
                                url:location.href,
                                showcount:'1',/*是否显示分享总数,显示：'1'，不显示：'0' */
                                desc:'好漂亮的宝贝喔',/*默认分享理由(可选)*/
                                summary:'',/*分享摘要(可选)*/
                                title:'<%= item.name %>',/*分享标题(可选)*/
                                site:'爱美购逛生活',/*分享来源 如：腾讯网(可选)*/
                                pics:'http://127.0.0.1:3000/item/<%= item._id %>/img', /*分享图片的路径(可选)*/
                                style:'202',
                                width:105,
                                height:31
                            };
                            var s = [];
                            for(var i in p){
                                s.push(i + '=' + encodeURIComponent(p[i]||''));
                            }
                            document.write(['<a version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
                        })();
                    </script>
                    <script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
                </td>
                <td>
                    <i class="ch-lg"><%= item.price2 %> /</i>

                    <i class="ch-line ch-info"><%= item.price %></i>
                </td>


                <td><%= item.talk %></td>
                <td>
                    <a href="/item/<%= item._id %>" class="btn btn-primary btn-sm" ><i class="fa fa-pencil"></i></a>
                    <a href="/api/item/<%= item._id %>" class="btn btn-danger btn-sm j-delete" ><i class="fa fa-trash-o"></i></a>




                </td>
            </tr>
            <% }) %>

            </tbody>
        </table>
    </div>
</div>
<% include ../inc/inc.foot.html %>

</body>
</html>