
<script type="text/javascript" src="/js/lib/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="/js/lib/json2.js" ></script>
<script type="text/javascript" src="/js/lib/Das.js" ></script>
<script type="text/javascript" src="/js/lib/animatescroll.js" ></script>
<script type="text/javascript" src="/js/ui/UI.Event.js" ></script>
<script type="text/javascript" src="/js/ui/UI.Base.js" ></script>
<script type="text/javascript" src="/js/ui/UI.FormValidator.js" ></script>
<script type="text/javascript" src="/js/ui/UI.Popup.js" ></script>
<script type="text/javascript" src="/js/ui/UI.PopupSelect.js" ></script>
<script type="text/javascript" src="/js/ui/UI.Message.js" ></script>
<script type="text/javascript" src="/js/ui/UI.AjaxUpload.js" ></script>
<script type="text/javascript" src="/js/app/app.common.js" ></script>
<script type="text/javascript" src="/js/app/app.bind.js" ></script>

<script>
    $(function(){
        app.common.init();
        app.bind.init();
    });
</script>