<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>爱美购</title>
    <style type="text/css">

        *{margin:0; padding:0;}
        *, *:active, *:focus{outline: 0 none;}
        body {
            background-color: #FFF;
            font-size:14px;
            font-family:"Oxygen",Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","STHeiti","宋体", simsun, "sans serif";
        }
        img{border: none;}
        ul,li{list-style: none;}
        a:link,a:visited{color: #545454;text-decoration: none;}
        em{font-style: normal;}

        .wrap{width:100%;}
        .head{width:100%;height:65px;border-bottom: 2px solid #fc4148;background:#d12974 url("img/head_bg.jpg") center no-repeat}
        .logo{width:950px;height:100%;background:url("img/ico.png") no-repeat 0px 3px;margin:0 auto;}
        .nav{background-color: #141313;width:100%;height:36px;position:relative;z-index: 99;box-shadow: 0 1px 3px rgba(0,0,0,0.5)}
        .nav ul{width:950px;margin:0 auto;overflow: hidden;}
        .nav ul li{float: left;width:100px;height:36px;line-height: 36px;text-align: center}
        .nav ul li a{color: #fefefe;width:100%;height:100%;display: block}
        .nav ul li a:hover{background-color:#353434;}
        .nav ul li.now{background-color: #ec3165}
        .nav ul li.now a:hover{background-color: #ec3165;}
        .main{width:928px;margin: 0 auto;padding:0 10px 30px 10px;border: solid #ddd;border-width: 0 1px }
        .section{width:100%;padding-top:10px;overflow: hidden}
        .section h3{font-size: 16px;letter-spacing:5px;color: #545454;padding-left:5px;
            line-height: 36px; border-bottom: 1px solid #ddd}
        .sec-i{margin-top:5px;}
        .block{width:280px;float: left;position: relative;border: 2px solid transparent;margin-right:8px;padding:10px;}
        .last{margin-right: 0;}
        .block:hover{border-color: #e64c4c;box-shadow: 0 0 5px rgba(0,0,0,0.5)}
        .block a{display: block}
        .tit{font-size: 12px;}
        a.tit:hover{text-decoration: underline}
        .price{margin-top: 10px;}
        .price i{color: #c00;font-size: 18px;font-style: normal}
        .price em{color: #c00;font-size: 24px;}
        a.button{background-color: #e64c4c;display:block;position: absolute;right:10px;bottom:10px;
            width:80px;height:30px;border-radius: 3px;color: #FFF;text-align: center;line-height: 30px;}
        a.button:hover{background-color: #cd2525}

        .foot{border-top:1px solid #ddd;}
        .foot-i{width:950px;margin: 0 auto;padding:15px 0}
        .foot-i p{text-align:center;font-size: 12px;color: #545454;line-height: 30px}

        .go-top{
            position: fixed;
            bottom:110px;
            left:50%;
            margin-left:500px;
            width:45px;
        }
        .go-top a{
            display: block;width:45px;height:45px;
            position: relative;
            cursor: pointer;
            background: #E64C4C url("img/ico.png") no-repeat  11px -52px;
            margin-top: 10px;
            border-radius: 3px;
        }
        .go-top a:hover{box-shadow: 0 1px 3px rgba(0,0,0,0.3);background-color: #cd2525;}

    </style>
</head>
<body>
<div class="wrap">
<div class="head">
    <div class="logo"></div>
</div>
<div class="nav" id="nav">
    <ul>
        <!--<li class="now"><a href="javascript://">全部</a></li>-->
        <li class="now"><a href="javascript://">衣服</a></li>
        <li><a href="javascript://">鞋子</a></li>
        <li><a href="javascript://">包包</a></li>
        <li><a href="javascript://" >配饰</a></li>
        <li><a href="javascript://" >美妆</a></li>
        <li><a href="javascript://" >家居</a></li>
        <li><a href="javascript://" >9.9包邮</a></li>
    </ul>
</div>
<div class="main">
    <div class="section" id="nav1">
        <h3>衣服</h3>
        <div class="sec-i">
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DyxCeDyveiLUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMW7Mz1VqJt5hJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY0HKUSd3ho%2FqLQ0UbkVZqjHIzAmSj%2BXNswfOVTG81bN17R%2Fn1%2FdapUTA%2BufTRDA3b" target="_blank">
                    <img src="img/photos/clothes/1.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DyxCeDyveiLUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMW7Mz1VqJt5hJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY0HKUSd3ho%2FqLQ0UbkVZqjHIzAmSj%2BXNswfOVTG81bN17R%2Fn1%2FdapUTA%2BufTRDA3b" target="_blank" class="tit">
                    <b>【包邮】</b>如奕正品 2013年冬季新款欧美时尚超大毛领修身羽绒服女中长款潮
                </a>
                <p class="price"><i>￥</i><em>578.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DyxCeDyveiLUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMW7Mz1VqJt5hJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY0HKUSd3ho%2FqLQ0UbkVZqjHIzAmSj%2BXNswfOVTG81bN17R%2Fn1%2FdapUTA%2BufTRDA3b" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DQHcf3N%2Bug98cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZKrKIpxSukEJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDYfafw2MHzR4532L1YGbGsNXIzAmSj%2BXNs%2B2cIYSWZlBtgwHoHsppv91lbeVQpvtND" target="_blank">
                    <img src="img/photos/clothes/2.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DQHcf3N%2Bug98cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZKrKIpxSukEJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDYfafw2MHzR4532L1YGbGsNXIzAmSj%2BXNs%2B2cIYSWZlBtgwHoHsppv91lbeVQpvtND" class="tit"  target="_blank">
                    <b>【包邮】</b>2013冬装新款大码羽绒服女中长款清仓大毛领韩版女士羽绒服正品潮
                </a>
                <p class="price"><i>￥</i><em>199.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DQHcf3N%2Bug98cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZKrKIpxSukEJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDYfafw2MHzR4532L1YGbGsNXIzAmSj%2BXNs%2B2cIYSWZlBtgwHoHsppv91lbeVQpvtND" class="button"  target="_blank">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DR9YN7Yy3lEUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMT3mJOfpbSlMt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYEVuGaYMP6S16rmY%2BOWsaUIBRq%2FvY5T5zN2e%2Bg5eKX%2BR0ITjbW88ti3m6CkdlGKsb"  target="_blank">
                    <img src="img/photos/clothes/3.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DR9YN7Yy3lEUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMT3mJOfpbSlMt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYEVuGaYMP6S16rmY%2BOWsaUIBRq%2FvY5T5zN2e%2Bg5eKX%2BR0ITjbW88ti3m6CkdlGKsb" class="tit"  target="_blank">
                    <b>【包邮】</b>加绒加厚打底裤 秋冬季女韩版七彩棉裤 外穿显瘦爱莱蒙一体保暖裤
                </a>
                <p class="price"><i>￥</i><em>38.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DR9YN7Yy3lEUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMT3mJOfpbSlMt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYEVuGaYMP6S16rmY%2BOWsaUIBRq%2FvY5T5zN2e%2Bg5eKX%2BR0ITjbW88ti3m6CkdlGKsb" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DlGpGRmtPuGkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMaSF%2BKr8c1zSRitN3%2FurF3wtQUtWBp26Fvvg0Pmj3JDYuUo%2F%2BZAku35P7oJrJqwdmIBRq%2FvY5T5zwPSqz5Qn9sFy0qneSnxPf0HgXzhsEr2j" target="_blank">
                    <img src="img/photos/clothes/4.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DlGpGRmtPuGkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMaSF%2BKr8c1zSRitN3%2FurF3wtQUtWBp26Fvvg0Pmj3JDYuUo%2F%2BZAku35P7oJrJqwdmIBRq%2FvY5T5zwPSqz5Qn9sFy0qneSnxPf0HgXzhsEr2j" class="tit" target="_blank">
                    <b>【包邮】</b>雪莉嘉宝 新款冬装棉服韩版加厚中长款羽绒棉服超大毛领棉衣女装
                </a>
                <p class="price"><i>￥</i><em>158.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DlGpGRmtPuGkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMaSF%2BKr8c1zSRitN3%2FurF3wtQUtWBp26Fvvg0Pmj3JDYuUo%2F%2BZAku35P7oJrJqwdmIBRq%2FvY5T5zwPSqz5Qn9sFy0qneSnxPf0HgXzhsEr2j" class="button" target="_blank">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DIEdF42Bet48cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMS6Dth2NKPbI5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYHsqSl0u6SoF2i0MVc%2FdtnYBRq%2FvY5T5zwPSqz5Qn9sFslEheAxgj09qZet1KCzKB" target="_blank">
                    <img src="img/photos/clothes/5.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DIEdF42Bet48cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMS6Dth2NKPbI5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYHsqSl0u6SoF2i0MVc%2FdtnYBRq%2FvY5T5zwPSqz5Qn9sFslEheAxgj09qZet1KCzKB" target="_blank" class="tit">
                    <b>【包邮】</b>2013冬季新款皮草外套特价清仓海宁圆领兔毛韩版貉子毛领女中长款
                </a>
                <p class="price"><i>￥</i><em>368.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DIEdF42Bet48cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMS6Dth2NKPbI5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYHsqSl0u6SoF2i0MVc%2FdtnYBRq%2FvY5T5zwPSqz5Qn9sFslEheAxgj09qZet1KCzKB" target="_blank" class="button">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPMzRsCw5IRocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMWswOvQr9XaIt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYibTneOgjjShDtA6OGGTShIBRq%2FvY5T5zTEFc5eOAjj1MgbrNMh5WWcRukJnvnHzj" target="_blank">
                    <img src="img/photos/clothes/6.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPMzRsCw5IRocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMWswOvQr9XaIt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYibTneOgjjShDtA6OGGTShIBRq%2FvY5T5zTEFc5eOAjj1MgbrNMh5WWcRukJnvnHzj" target="_blank" class="tit">
                    <b>【包邮】</b>vividini2013韩版大码冬装加厚大毛领中长款女士羽绒服女正品清仓
                </a>
                <p class="price"><i>￥</i><em>298.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPMzRsCw5IRocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMWswOvQr9XaIt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYibTneOgjjShDtA6OGGTShIBRq%2FvY5T5zTEFc5eOAjj1MgbrNMh5WWcRukJnvnHzj" target="_blank" class="button">去看看</a>
            </div>
        </div>
    </div>
    <div class="section" id="nav2">
        <h3>鞋子</h3>
        <div class="sec-i">
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DJ%2F2KTcNh25EcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMd6ttANQkdio1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYfIHmbRqxV4aO2MtJesudTHIzAmSj%2BXNskCgLI8Sni6OQ5mfLQjGR3A08TrARn0EE" target="_blank">
                    <img src="img/photos/shoes/1.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DJ%2F2KTcNh25EcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMd6ttANQkdio1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYfIHmbRqxV4aO2MtJesudTHIzAmSj%2BXNskCgLI8Sni6OQ5mfLQjGR3A08TrARn0EE" target="_blank" class="tit">
                    <b>【鞋子】</b>eo 全牛皮雪地靴正品真皮带扣靴子男女情侣款100%纯羊毛雪地靴
                </a>
                <p class="price"><i>￥</i><em>159.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DJ%2F2KTcNh25EcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMd6ttANQkdio1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYfIHmbRqxV4aO2MtJesudTHIzAmSj%2BXNskCgLI8Sni6OQ5mfLQjGR3A08TrARn0EE" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2BHTczirsw70cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMSKBuvk4UnhSxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYDAIJWtNHOiKLQ0UbkVZqjHIzAmSj%2BXNsDXskR%2BnVRl6kG4nSs95zl%2BYxfMgMJ6Lm" target="_blank">
                    <img src="img/photos/shoes/2.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2BHTczirsw70cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMSKBuvk4UnhSxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYDAIJWtNHOiKLQ0UbkVZqjHIzAmSj%2BXNsDXskR%2BnVRl6kG4nSs95zl%2BYxfMgMJ6Lm" class="tit"  target="_blank">
                    <b>【包邮】</b>2013秋冬季新款女士短靴圆头欧洲站马丁靴侧拉链潮鞋磨砂皮女靴子
                </a>
                <p class="price"><i>￥</i><em>99.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2BHTczirsw70cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMSKBuvk4UnhSxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYDAIJWtNHOiKLQ0UbkVZqjHIzAmSj%2BXNsDXskR%2BnVRl6kG4nSs95zl%2BYxfMgMJ6Lm" class="button"  target="_blank">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DDOWWkPZy%2BSQcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMQQ07ZtHzeMYMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDYo6u5dnMcROtIh5Qd9WuIa4BRq%2FvY5T5zN2e%2Bg5eKX%2BR1fEYgn54RxevX7aDVnJJT"  target="_blank">
                    <img src="img/photos/shoes/3.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DDOWWkPZy%2BSQcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMQQ07ZtHzeMYMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDYo6u5dnMcROtIh5Qd9WuIa4BRq%2FvY5T5zN2e%2Bg5eKX%2BR1fEYgn54RxevX7aDVnJJT" class="tit"  target="_blank">
                    <b>【包邮】</b>俏小姐 雪地靴 女靴子冬季翻毛搭扣平底短靴女鞋冬季清仓棉靴2013
                </a>
                <p class="price"><i>￥</i><em>45.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DDOWWkPZy%2BSQcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMQQ07ZtHzeMYMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDYo6u5dnMcROtIh5Qd9WuIa4BRq%2FvY5T5zN2e%2Bg5eKX%2BR1fEYgn54RxevX7aDVnJJT" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2FXMf7j%2FHbXocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMVTo4skJT2zGxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDY1eapzDLdyUNHMd6gPnbG94BRq%2FvY5T5zwPSqz5Qn9sHE9iFEPQGQPgQlGkH%2FGesb" target="_blank">
                    <img src="img/photos/shoes/4.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2FXMf7j%2FHbXocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMVTo4skJT2zGxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDY1eapzDLdyUNHMd6gPnbG94BRq%2FvY5T5zwPSqz5Qn9sHE9iFEPQGQPgQlGkH%2FGesb" class="tit" target="_blank">
                    <b>【包邮】</b>坡跟靴子女冬弹力靴内增高女鞋女靴过膝长靴高筒靴平底棉靴长筒靴
                </a>
                <p class="price"><i>￥</i><em>99.0</em></p>
                <a href="http://s.click.taobao.com/4?e=m%3D2%26s%3D%2FXMf7j%2FHbXocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMVTo4skJT2zGxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDY1eapzDLdyUNHMd6gPnbG94BRq%2FvY5T5zwPSqz5Qn9sHE9iFEPQGQPgQlGkH%2FGesb" class="button" target="_blank">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2F0%2BT4IKsrj8cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMdlJeSm1xKlBMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDYse7EK6p0ke1QrEkkzbFsUYBRq%2FvY5T5zN2e%2Bg5eKX%2BT262g8WAIhL4hbOqsaakHI" target="_blank">
                    <img src="img/photos/shoes/5.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2F0%2BT4IKsrj8cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMdlJeSm1xKlBMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDYse7EK6p0ke1QrEkkzbFsUYBRq%2FvY5T5zN2e%2Bg5eKX%2BT262g8WAIhL4hbOqsaakHI" target="_blank" class="tit">
                    <b>【包邮】</b>2013雪地靴女 雪地靴短靴女冬季防水百麗都真皮棉鞋女鞋女靴子 雪地靴
                </a>
                <p class="price"><i>￥</i><em>138.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D%2F0%2BT4IKsrj8cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMdlJeSm1xKlBMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDYse7EK6p0ke1QrEkkzbFsUYBRq%2FvY5T5zN2e%2Bg5eKX%2BT262g8WAIhL4hbOqsaakHI" target="_blank" class="button">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dc5ZsyNWrmeIcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfAz%2B7R1tBk45x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYlgdr5SDD%2BTZZJdML99CzAYBRq%2FvY5T5zwPSqz5Qn9sFV%2F0KhjpY092qP61BudaP5" target="_blank">
                    <img src="img/photos/shoes/6.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dc5ZsyNWrmeIcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfAz%2B7R1tBk45x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYlgdr5SDD%2BTZZJdML99CzAYBRq%2FvY5T5zwPSqz5Qn9sFV%2F0KhjpY092qP61BudaP5" target="_blank" class="tit">
                    <b>【包邮】</b>JUSTTER 牛皮女雪地靴子 貉子狐狸毛雪地靴女清仓7817特价包邮
                </a>
                <p class="price"><i>￥</i><em>199.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dc5ZsyNWrmeIcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfAz%2B7R1tBk45x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYlgdr5SDD%2BTZZJdML99CzAYBRq%2FvY5T5zwPSqz5Qn9sFV%2F0KhjpY092qP61BudaP5" target="_blank" class="button">去看看</a>
            </div>
        </div>
    </div>
    <div class="section" id="nav3">
        <h3>包包</h3>
        <div class="sec-i">
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DutPCF%2BVn9DkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMS55Zr60YDN25x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYem50S6qmwow94k6AE8uEfKkqE%2BI29qQg" target="_blank">
                    <img src="img/photos/package/1.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DutPCF%2BVn9DkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMS55Zr60YDN25x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYem50S6qmwow94k6AE8uEfKkqE%2BI29qQg" target="_blank" class="tit">
                    <b>【包邮】</b>专柜正品 新款女包 手提包女2013新品漆皮鳄鱼纹斜跨包时尚潮女包
                </a>
                <p class="price"><i>￥</i><em>86.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DutPCF%2BVn9DkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMS55Zr60YDN25x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYem50S6qmwow94k6AE8uEfKkqE%2BI29qQg" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DmH1BBYmOOpgcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfdT09CL0SRslovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYcFfYI3xD42LgRiL0hx0soM7vskNCP4Om" target="_blank">
                    <img src="img/photos/package/2.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DmH1BBYmOOpgcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfdT09CL0SRslovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYcFfYI3xD42LgRiL0hx0soM7vskNCP4Om" class="tit"  target="_blank">
                    <b>【包邮】</b>比卡利女包 2013新款 热卖优雅菱格小包 亮面 手提单肩包包 13762
                </a>
                <p class="price"><i>￥</i><em>118.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DmH1BBYmOOpgcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfdT09CL0SRslovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYcFfYI3xD42LgRiL0hx0soM7vskNCP4Om" class="button"  target="_blank">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D8R2HIMXahVocQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMWuko5ajakFVlovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYLo%2BGoZBQsuZiREMIBSnflifjvn7CJr4F"  target="_blank">
                    <img src="img/photos/package/3.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D8R2HIMXahVocQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMWuko5ajakFVlovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYLo%2BGoZBQsuZiREMIBSnflifjvn7CJr4F" class="tit"  target="_blank">
                    <b>【包邮】</b>女包 2013秋冬新款毛毛时尚包包 欧美手提毛球潮包
                </a>
                <p class="price"><i>￥</i><em>89.1</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D8R2HIMXahVocQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMWuko5ajakFVlovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYLo%2BGoZBQsuZiREMIBSnflifjvn7CJr4F" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D5pIr6fitTk0cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUfUN2nNIaOX1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYKc3so2HfWzKvHkWVy04J5ZF1%2B3eTj4tR" target="_blank">
                    <img src="img/photos/package/4.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D5pIr6fitTk0cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUfUN2nNIaOX1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYKc3so2HfWzKvHkWVy04J5ZF1%2B3eTj4tR" class="tit" target="_blank">
                    <b>【包邮】</b>美约包包2013新款潮 女包 韩版时尚单肩包斜跨包女士手提包大包邮
                </a>
                <p class="price"><i>￥</i><em>99.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D5pIr6fitTk0cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUfUN2nNIaOX1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYKc3so2HfWzKvHkWVy04J5ZF1%2B3eTj4tR" class="button" target="_blank">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DbUKcdItbOO4cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZw9UXryjHRexq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYg8qWd3FQe1kHwuQb1DeCYtrGklJ4So9D" target="_blank">
                    <img src="img/photos/package/5.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DbUKcdItbOO4cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZw9UXryjHRexq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYg8qWd3FQe1kHwuQb1DeCYtrGklJ4So9D" target="_blank" class="tit">
                    <b>【包邮】</b>新款潮女包包韩版真皮单肩包包 2013时尚包袋牛皮女士大包邮特价
                </a>
                <p class="price"><i>￥</i><em>75.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DbUKcdItbOO4cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMZw9UXryjHRexq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYg8qWd3FQe1kHwuQb1DeCYtrGklJ4So9D" target="_blank" class="button">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D22g%2FZeHeqOYcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfbZd5bE75hOt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYUWHDlUZULcSDqc8UociJFQbYvXxSNbMdomfkDJRs%2BhU%3D" target="_blank">
                    <img src="img/photos/package/6.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D22g%2FZeHeqOYcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfbZd5bE75hOt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYUWHDlUZULcSDqc8UociJFQbYvXxSNbMdomfkDJRs%2BhU%3D" target="_blank" class="tit">
                    <b>【包邮】</b>新款女包 女士单肩包包邮2013新款潮女手提斜挎单肩包女士包包133
                </a>
                <p class="price"><i>￥</i><em>98.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D22g%2FZeHeqOYcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfbZd5bE75hOt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYUWHDlUZULcSDqc8UociJFQbYvXxSNbMdomfkDJRs%2BhU%3D" target="_blank" class="button">去看看</a>
            </div>
        </div>
    </div>
    <div class="section" id="nav4">
        <h3>配饰</h3>
        <div class="sec-i">
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DBmxkwcOoSqEcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMRRkkC5eFMCyt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYSWDjdHFONuWmqDjZwDyweiNkgHK%2Fl7ZS" target="_blank">
                    <img src="img/photos/accessories/1.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DBmxkwcOoSqEcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMRRkkC5eFMCyt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYSWDjdHFONuWmqDjZwDyweiNkgHK%2Fl7ZS" target="_blank" class="tit">
                    <b>【包邮】</b>青花瓷女韩版夏季空调棉麻围巾披肩长款纱巾防晒波西米亚沙滩
                </a>
                <p class="price"><i>￥</i><em>12.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DBmxkwcOoSqEcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMRRkkC5eFMCyt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDYSWDjdHFONuWmqDjZwDyweiNkgHK%2Fl7ZS" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D3dgOH4Ooz1IcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMeAXZLq2eJrs1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYz9rAbpQOLrnTQx2gqPIzEk8f1Q1zS85W" target="_blank">
                    <img src="img/photos/accessories/2.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D3dgOH4Ooz1IcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMeAXZLq2eJrs1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYz9rAbpQOLrnTQx2gqPIzEk8f1Q1zS85W" class="tit"  target="_blank">
                    <b>【包邮】</b>仿皮草狐狸毛蕾丝蝴蝶结毛领子毛球领子毛毛围巾围脖假领子女
                </a>
                <p class="price"><i>￥</i><em>14.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D3dgOH4Ooz1IcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMeAXZLq2eJrs1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYz9rAbpQOLrnTQx2gqPIzEk8f1Q1zS85W" class="button"  target="_blank">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DmKw%2Bp3VVqiUcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMfj4GN7BOhCslovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYaIvyK1HYPFm%2B%2FESpFRkVzqqWb1DP3GMc"  target="_blank">
                    <img src="img/photos/accessories/3.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DmKw%2Bp3VVqiUcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMfj4GN7BOhCslovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYaIvyK1HYPFm%2B%2FESpFRkVzqqWb1DP3GMc" class="tit"  target="_blank">
                    <b>【包邮】</b>2013新款 超大女士民族风提花围巾 秋冬淑女印花两用超长披风披肩
                </a>
                <p class="price"><i>￥</i><em>25.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DmKw%2Bp3VVqiUcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMfj4GN7BOhCslovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYaIvyK1HYPFm%2B%2FESpFRkVzqqWb1DP3GMc" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Des9fsjUt%2BSMcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMRJMKNtMB87alovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYD%2BuciD%2FJWtyB0bVKGb20R3Raxi3YGbGq" target="_blank">
                    <img src="img/photos/accessories/4.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Des9fsjUt%2BSMcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMRJMKNtMB87alovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYD%2BuciD%2FJWtyB0bVKGb20R3Raxi3YGbGq" class="tit" target="_blank">
                    <b>【包邮】</b>2013韩版球球毛线流苏纯色加厚保暖围巾秋冬女围脖披肩超长两用
                </a>
                <p class="price"><i>￥</i><em>35.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Des9fsjUt%2BSMcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMRJMKNtMB87alovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYD%2BuciD%2FJWtyB0bVKGb20R3Raxi3YGbGq" class="button" target="_blank">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DCcNhjuK3GKAcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMYMTfkScD%2FTn5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYh%2FosbWyPuA4QQtmhmyWDJikLfvT%2BEwPl" target="_blank">
                    <img src="img/photos/accessories/5.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DCcNhjuK3GKAcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMYMTfkScD%2FTn5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYh%2FosbWyPuA4QQtmhmyWDJikLfvT%2BEwPl" target="_blank" class="tit">
                    <b>【包邮】</b>纯兔毛帽子 鸭舌帽秋冬女帽韩版潮帽子冬季女士保暖帽针织毛毛帽
                </a>
                <p class="price"><i>￥</i><em>25.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DCcNhjuK3GKAcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMYMTfkScD%2FTn5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYh%2FosbWyPuA4QQtmhmyWDJikLfvT%2BEwPl" target="_blank" class="button">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dl5L7j4Nu%2FRYcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMXWz3JpUHup2xq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDY7qX1QhpDjJKg5NXocAwKavqsyWaGr0%2BW" target="_blank">
                    <img src="img/photos/accessories/6.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dl5L7j4Nu%2FRYcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMXWz3JpUHup2xq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDY7qX1QhpDjJKg5NXocAwKavqsyWaGr0%2BW" target="_blank" class="tit">
                    <b>【包邮】</b>925纯银绽梅耳钉 大气时尚 甜美优雅 女 包邮 新款礼物耳饰 耳环
                </a>
                <p class="price"><i>￥</i><em>60.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dl5L7j4Nu%2FRYcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMXWz3JpUHup2xq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDY7qX1QhpDjJKg5NXocAwKavqsyWaGr0%2BW" target="_blank" class="button">去看看</a>
            </div>
        </div>
    </div>
    <div class="section" id="nav5">
        <h3>美妆</h3>
        <div class="sec-i">
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DVa9GDPdTkWIcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUYcXbtKc59O79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYDP4J%2FigBW02pAT3Li3CvDfNScfaE%2FJcm" target="_blank">
                    <img src="img/photos/beauty/1.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DVa9GDPdTkWIcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUYcXbtKc59O79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYDP4J%2FigBW02pAT3Li3CvDfNScfaE%2FJcm" target="_blank" class="tit">
                    <b>【包邮】</b>百雀羚 水嫩精纯明星BB霜 隔离遮瑕保湿控油亮白粉底裸妆美妆正
                </a>
                <p class="price"><i>￥</i><em>93.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DVa9GDPdTkWIcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUYcXbtKc59O79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYDP4J%2FigBW02pAT3Li3CvDfNScfaE%2FJcm" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DQDAI0jjTS%2FocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMSn42oh4Z5wF1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYvcJNlMhc4D0FiUEdPbXHqiaO%2Bt9gPaS%2F" target="_blank">
                    <img src="img/photos/beauty/2.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DQDAI0jjTS%2FocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMSn42oh4Z5wF1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYvcJNlMhc4D0FiUEdPbXHqiaO%2Bt9gPaS%2F" class="tit"  target="_blank">
                    <b>【包邮】</b>10贴包邮 新品首发 豆乳水润白皙面膜（5片装）
                </a>
                <p class="price"><i>￥</i><em>50.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DQDAI0jjTS%2FocQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMSn42oh4Z5wF1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYvcJNlMhc4D0FiUEdPbXHqiaO%2Bt9gPaS%2F" class="button"  target="_blank">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DlBetmZ%2Fc0%2FIcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMcs5%2FwKmHsx%2F79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYkzmUf%2FkAr2tCJl1DRVs2ccLK13qgFR8o"  target="_blank">
                    <img src="img/photos/beauty/3.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DlBetmZ%2Fc0%2FIcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMcs5%2FwKmHsx%2F79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYkzmUf%2FkAr2tCJl1DRVs2ccLK13qgFR8o" class="tit"  target="_blank">
                    <b>【美妆】</b>满99包邮韩国正品Skin food/思亲肤黄瓜精华补水保湿面膜修复美白
                </a>
                <p class="price"><i>￥</i><em>39.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DlBetmZ%2Fc0%2FIcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMcs5%2FwKmHsx%2F79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYkzmUf%2FkAr2tCJl1DRVs2ccLK13qgFR8o" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DHZB16NhIKg8cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMaRoVAVcjQoplovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYL1vOznCqmXrHoiDJTXIcGNa7ngoCQgxI" target="_blank">
                    <img src="img/photos/beauty/4.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DHZB16NhIKg8cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMaRoVAVcjQoplovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYL1vOznCqmXrHoiDJTXIcGNa7ngoCQgxI" class="tit" target="_blank">
                    <b>【包邮】</b>千纤草丝瓜水清透细致洁面乳120g 控油收缩毛孔洗面奶女补水控油
                </a>
                <p class="price"><i>￥</i><em>15.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DHZB16NhIKg8cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMaRoVAVcjQoplovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYL1vOznCqmXrHoiDJTXIcGNa7ngoCQgxI" class="button" target="_blank">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dxk8H6V1p4gIcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMVp4Iybu9IHyMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDY5NamHh4njpFDC03wPd4EZC2pK9FxRBte" target="_blank">
                    <img src="img/photos/beauty/5.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dxk8H6V1p4gIcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMVp4Iybu9IHyMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDY5NamHh4njpFDC03wPd4EZC2pK9FxRBte" target="_blank" class="tit">
                    <b>【包邮】</b>日本原版 资生堂美肌尿素护手霜100g深层滋养型 修护粗糙干裂双手
                </a>
                <p class="price"><i>￥</i><em>49.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dxk8H6V1p4gIcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMVp4Iybu9IHyMMgx22UI05YtQUtWBp26Fvvg0Pmj3JDY5NamHh4njpFDC03wPd4EZC2pK9FxRBte" target="_blank" class="button">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DGCRk8D0PYZUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUwBOGrDzkIyt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDY8YxD7cuSz7VukD4R3U7kiplTTiNAWvtf" target="_blank">
                    <img src="img/photos/beauty/6.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DGCRk8D0PYZUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUwBOGrDzkIyt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDY8YxD7cuSz7VukD4R3U7kiplTTiNAWvtf" target="_blank" class="tit">
                    <b>【包邮】</b>诱惑银泰正品唇膏口红 唇膏橘色持久保湿滋润唇彩 裸色 NYX圆管
                </a>
                <p class="price"><i>￥</i><em>14.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DGCRk8D0PYZUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUwBOGrDzkIyt4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDY8YxD7cuSz7VukD4R3U7kiplTTiNAWvtf" target="_blank" class="button">去看看</a>
            </div>
        </div>
    </div>
    <div class="section" id="nav6">
        <h3>家居</h3>
        <div class="sec-i">
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DV%2Bk%2BXdBePG8cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMZLYbs1ZL4weJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY%2BWsXb6G24FO%2F4yfj2EdJSY%2Fw%2FE4aMLdO" target="_blank">
                    <img src="img/photos/home/1.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DV%2Bk%2BXdBePG8cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMZLYbs1ZL4weJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY%2BWsXb6G24FO%2F4yfj2EdJSY%2Fw%2FE4aMLdO" target="_blank" class="tit">
                    <b>【包邮】</b>条纹居家包跟棉拖鞋家居拖鞋 情侣男女加厚底棉拖冬季保暖鞋
                </a>
                <p class="price"><i>￥</i><em>19.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DV%2Bk%2BXdBePG8cQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMZLYbs1ZL4weJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY%2BWsXb6G24FO%2F4yfj2EdJSY%2Fw%2FE4aMLdO" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DDhGEshbbdNwcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfvC12xd6%2FbPJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY9dUd4ErT9lHzI%2Bz55l%2FSsmQbhGAj7fRYomfkDJRs%2BhU%3D" target="_blank">
                    <img src="img/photos/home/2.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DDhGEshbbdNwcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfvC12xd6%2FbPJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY9dUd4ErT9lHzI%2Bz55l%2FSsmQbhGAj7fRYomfkDJRs%2BhU%3D" class="tit"  target="_blank">
                    <b>【包邮】</b>冬季珊瑚绒睡衣女加厚冬天长袖可爱卡通大码法兰绒家居服套装清仓
                </a>
                <p class="price"><i>￥</i><em>49.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DDhGEshbbdNwcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMfvC12xd6%2FbPJ1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDY9dUd4ErT9lHzI%2Bz55l%2FSsmQbhGAj7fRYomfkDJRs%2BhU%3D" class="button"  target="_blank">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DwX5ggq0kNOUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMeBhfSEkiHNUxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYFgmwr%2BVAPB3YDMWwrqX3S1YApRgFjxxW"  target="_blank">
                    <img src="img/photos/home/3.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DwX5ggq0kNOUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMeBhfSEkiHNUxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYFgmwr%2BVAPB3YDMWwrqX3S1YApRgFjxxW" class="tit"  target="_blank">
                    <b>【包邮】</b>阿德拉正品 枕头 枕芯 颈椎 超柔九孔保健枕 买一对包邮
                </a>
                <p class="price"><i>￥</i><em>17.96</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DwX5ggq0kNOUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMeBhfSEkiHNUxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYFgmwr%2BVAPB3YDMWwrqX3S1YApRgFjxxW" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dg43FaVWKydkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUcacQEnf7jzlovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYgUJrHnnAcbFpoBFHg0zd5hXZ5PvRJCIE" target="_blank">
                    <img src="img/photos/home/4.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dg43FaVWKydkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUcacQEnf7jzlovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYgUJrHnnAcbFpoBFHg0zd5hXZ5PvRJCIE" class="tit" target="_blank">
                    <b>【包邮】</b>洁丽雅 正品纯棉速干清新毛巾4条装 柔软舒适 情侣款 毛巾批发
                </a>
                <p class="price"><i>￥</i><em>29.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dg43FaVWKydkcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMUcacQEnf7jzlovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYgUJrHnnAcbFpoBFHg0zd5hXZ5PvRJCIE" class="button" target="_blank">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D99O6CFq%2Fl0scQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMfS61x2%2F%2Bma4J1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDYgQBAytbXncZFQsDEezsVsPplxoVHOJh4" target="_blank">
                    <img src="img/photos/home/5.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D99O6CFq%2Fl0scQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMfS61x2%2F%2Bma4J1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDYgQBAytbXncZFQsDEezsVsPplxoVHOJh4" target="_blank" class="tit">
                    <b>【家居】</b>韩国正品袜子 显瘦可爱女士棉质长筒袜女袜女式袜
                </a>
                <p class="price"><i>￥</i><em>20.0</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3D99O6CFq%2Fl0scQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMfS61x2%2F%2Bma4J1gyddu7kN8tQUtWBp26Fvvg0Pmj3JDYgQBAytbXncZFQsDEezsVsPplxoVHOJh4" target="_blank" class="button">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DOvBoEpePXsQcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMcFdd1LJIrna1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYpDb3M4dlz825zrSwdbNtdFiAMTrto7vtomfkDJRs%2BhU%3D" target="_blank">
                    <img src="img/photos/home/6.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DOvBoEpePXsQcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMcFdd1LJIrna1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYpDb3M4dlz825zrSwdbNtdFiAMTrto7vtomfkDJRs%2BhU%3D" target="_blank" class="tit">
                    <b>【新品】</b>caramella袜子女全棉日系女袜秋冬款森女袜子纯棉气质潮袜子新品
                </a>
                <p class="price"><i>￥</i><em>7.8</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DOvBoEpePXsQcQipKwQzePOeEDrYVVa64K7Vc7tFgwiFRAdhuF14FMcFdd1LJIrna1aH1Hk3GeOgtQUtWBp26Fvvg0Pmj3JDYpDb3M4dlz825zrSwdbNtdFiAMTrto7vtomfkDJRs%2BhU%3D" target="_blank" class="button">去看看</a>
            </div>
        </div>
    </div>
    <div class="section" id="nav7">
        <h3>9.9包邮</h3>
        <div class="sec-i">
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPNi7Ifru6IQcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMSEve0WSNr4L5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYrLDectof0gnAv2tMTHsxuHSpW5OkdaFoomfkDJRs%2BhU%3D" target="_blank">
                    <img src="img/photos/9.9/1.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPNi7Ifru6IQcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMSEve0WSNr4L5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYrLDectof0gnAv2tMTHsxuHSpW5OkdaFoomfkDJRs%2BhU%3D" target="_blank" class="tit">
                    <b>【包邮】</b>秋冬女装踩脚加厚丝袜拉绒修身显瘦九分包臀打底裤
                </a>
                <p class="price"><i>￥</i><em>9.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPNi7Ifru6IQcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMSEve0WSNr4L5x%2BIUlGKNpUtQUtWBp26Fvvg0Pmj3JDYrLDectof0gnAv2tMTHsxuHSpW5OkdaFoomfkDJRs%2BhU%3D" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPVfk0QkbWmccQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMbvdwDkBSGGe8sviUM61dt0tQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWQpDLvI6A%2BxogHRjjUK%2BqBa" target="_blank">
                    <img src="img/photos/9.9/2.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPVfk0QkbWmccQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMbvdwDkBSGGe8sviUM61dt0tQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWQpDLvI6A%2BxogHRjjUK%2BqBa" class="tit"  target="_blank">
                    <b>【包邮】</b>人气特价爆新厚实长毛绒棉拖鞋室内居家拖鞋情侣款
                </a>
                <p class="price"><i>￥</i><em>9.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DPVfk0QkbWmccQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMbvdwDkBSGGe8sviUM61dt0tQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWQpDLvI6A%2BxogHRjjUK%2BqBa" class="button"  target="_blank">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dq3%2FzKzDrgg0cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMdsD0GnkckUGxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYBkugtyOskWRRSw0LtpL3j0VsqSriFPjV"  target="_blank">
                    <img src="img/photos/9.9/3.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dq3%2FzKzDrgg0cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMdsD0GnkckUGxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYBkugtyOskWRRSw0LtpL3j0VsqSriFPjV" class="tit"  target="_blank">
                    <b>【包邮】</b>竹炭加厚单层拉绒拉毛九分裤连裤踩脚女打底裤
                </a>
                <p class="price"><i>￥</i><em>9.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dq3%2FzKzDrgg0cQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMdsD0GnkckUGxq3IhSJN6GQtQUtWBp26Fvvg0Pmj3JDYBkugtyOskWRRSw0LtpL3j0VsqSriFPjV" target="_blank" class="button">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DjXws7FyGr9ccQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMbksHJGToSe4lovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWTbzFVX6mYaY7SMacU%2FWwXQ" target="_blank">
                    <img src="img/photos/9.9/4.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DjXws7FyGr9ccQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMbksHJGToSe4lovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWTbzFVX6mYaY7SMacU%2FWwXQ" class="tit" target="_blank">
                    <b>【包邮】</b>半包跟超柔软 情侣款 室内拖鞋地板拖鞋 棉拖鞋
                </a>
                <p class="price"><i>￥</i><em>9.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DjXws7FyGr9ccQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMbksHJGToSe4lovu%2FCElQOstQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWTbzFVX6mYaY7SMacU%2FWwXQ" class="button" target="_blank">去看看</a>
            </div>
            <div class="block">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dly6lg5vYtuwcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMY4EM0Cw4NfI79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWTsf54XEcxodoYMlk4o8GxS" target="_blank">
                    <img src="img/photos/9.9/5.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dly6lg5vYtuwcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMY4EM0Cw4NfI79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWTsf54XEcxodoYMlk4o8GxS" target="_blank" class="tit">
                    <b>【包邮】</b>长毛绒吹气底加厚棉拖鞋居家拖鞋情侣款
                </a>
                <p class="price"><i>￥</i><em>9.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dly6lg5vYtuwcQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMY4EM0Cw4NfI79%2FTFaMDK6QtQUtWBp26Fvvg0Pmj3JDYyZWK2X7HkWTsf54XEcxodoYMlk4o8GxS" target="_blank" class="button">去看看</a>
            </div>
            <div class="block last">
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DpNeqkDYg4QscQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMeTLk8Q74Enht4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDY6dru7nx5yxB%2BMwoSlxkG9adgOr%2FCCyZN" target="_blank">
                    <img src="img/photos/9.9/6.jpg" width="280" height="280"/>
                </a>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DpNeqkDYg4QscQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMeTLk8Q74Enht4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDY6dru7nx5yxB%2BMwoSlxkG9adgOr%2FCCyZN" target="_blank" class="tit">
                    <b>【包邮】</b>巨型一号丝瓜水配方型非原液正品秒杀
                </a>
                <p class="price"><i>￥</i><em>9.9</em></p>
                <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DpNeqkDYg4QscQipKwQzePOeEDrYVVa64LKpWJ%2Bin0XJRAdhuF14FMeTLk8Q74Enht4hWD5k2kjMtQUtWBp26Fvvg0Pmj3JDY6dru7nx5yxB%2BMwoSlxkG9adgOr%2FCCyZN" target="_blank" class="button">去看看</a>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <div class="foot-i">

        <p>Copyright © 云清科技 2012-2013 联系我们QQ:1805378995 </p>
    </div>
</div>
<div class="go-top" id="top">
    <a href="javascript://" title="返回顶部"></a>
</div>
</div>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=29378225" charset="UTF-8"></script>
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/animatescroll.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $("#nav").find("li").bind("click", function(){
            var i = $(this).index()+1;
            $("#nav" + i).animatescroll({padding:50});
            $(this).siblings().removeClass("now");
            $(this).addClass("now");
        })
        var throttle = function(fn, delay){
            var timer = null;

            return function(){
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function(){
                    fn.apply(context, args);
                }, delay);
            }
        }
        window.onscroll = throttle(function(){
            var x = $(document).scrollTop(),nav = $("#nav");
            if(x >= 90){
                nav.css({
                    position: "fixed",
                    top: 0
                });
            }else{
                nav.css({
                    position: "relative"
                });
            }
        })

        $("#top").hide();
        $(window).scroll(function() {
            $(this).scrollTop() > 100 ? $("#top").show() : $("#top").hide();
        });
        $("#top").click(function(){
            $("html,body").animate({scrollTop:0},1000);
        });

    })
</script>
</body>
</html>