
.img-wp{position: relative;width:100px;height:100px;}
.img-wp:hover .img-btn{display: block;}
.img{width:100px;height:100px;}
.img-btn{position: absolute;height:60px;width:100px;left:100px;bottom:0;display: none;vertical-align: bottom;}