<script>
    var page = {

        data: [
                '多推荐些 都还可以！',
                '这个价位蛮值得！',
                '感谢各位编辑 天天帮我们找这些实惠的东东',
                '看着这么好 搞得我每天内心都好纠结~',
                '已经拍了，期待收货！！！',
                '收了收了！太喜欢了！',
                '收藏个先~！',
                '性价比不错哦~~~~',
                '太貌美了！Hold不住~',
                '这个不错！想买了',
                '好美！真心喜欢。',
                '心水~心水~，必败单品',
                '白菜价啊，想入手了。',
                '蛮特别的。',
                '超好看的哈~~而且很好搭配衣服哈!',
                '看后一眼就喜欢啦!',
                '超级可爱，入手了，收给宝贝....',
                '喜欢这种元素。',
                '款式很喜欢呀！',
                '喜欢这样的亮色，让人心情愉快。',
                '同事都说很好看！',
                '上身效果特棒~',
                '甜美小清新小文艺~',
                '很百搭哦~',
                '款式很漂亮，很修身',
                '衣服还好吧， 妈妈说挺好的',
                '值得购买，喜欢',
                '商品质量不错，挺厚实的，性价比也高',
                '朋友都说穿得很好看，赞一个！',
                '真的蛮修身的~'
        ],

        init: function(){
            var w = this;

            w.initHTML();
            w.initEvent();
        },

        initHTML: function(){
            var w = this;

            $('.j-uploadForm').data('opt', {
                fn: function(){
                    window.location.href = '/item'
                }
            });



        },

        initEvent: function(){
            var w = this;

            var c = $('[name="comments"]'), l = w.data;
            $('#random').click(function(){
                c.each(function(){
                    this.value = l[ Math.floor( Math.random() * (l.length-1) ) ];
                })
            })

            $('#randomShare').click(function(){
                $('[name="share_total"]').val( Math.floor( Math.random() * 600 ) + 200 );
                $('[name="collect_total"]').val( Math.floor( Math.random() * 200 ) + 300 );
            });

        }
    }

    $(function(){
        page.init();
        $(".j-date").each(function(){
            $(this).datepicker();
        })
    });

</script>