<!DOCTYPE html>
<html>
<head>
    <% include ../inc/inc.head.html %>
</head>
<body>

<div class="g-bd">
    <% include ../mod/mod.head.html %>

    <% include ../mod/mod.side.html %>

    <div class="g-mn">
        <a href="/lyric" class="btn btn-default">返回</a>
        <form class="form-horizontal j-uploadForm" role="form" action="/api/lyric" target="ajax" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">歌曲</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" value="<%= lyric.name %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">歌词</label>
                <div class="col-sm-10">
                    <input type="text" name="lyric" class="form-control" value="<%= lyric.lyric %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">歌手</label>
                <div class="col-sm-10">
                    <input type="text" name="singer" class="form-control" value="<%= lyric.singer %>">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">小编点评</label>
                <div class="col-sm-10">
                    <input type="text" name="talk" class="form-control" value="<%= lyric.talk %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">配图</label>
                <div class="col-sm-10">
                    <input type="file" name="img" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="hidden" name="id" value="<%= lyric._id %>"/>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>



<% include ../inc/inc.foot.html %>
<script>
    $('.j-uploadForm').data('opt', {
        fn: function(){
            window.location.href = '/lyric';
        }
    })
</script>
</body>
</html>